# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories in which CMake generates files
build/
tests/build/
tests/unit/build/

# Visual Studio Code
.vscode

# Doxygen output folder
doc/

# Mac files
.DS_Store

# google/benchmark folder
tests/ext/benchmark/
tests/ext/benchmark

# folder with jupyter notebooks for the plots
tests/benchmarks/outputs/Notebooks

# CLion 
.idea
